.header{
    height: 70px;
    background-color: white;
}

.header_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.title{
    font-weight: bold;
    font-size: 25px;
}

.title>a>span:first-child{
    color: var(--light-blue);
}

.title>a>span:last-child{
    color: var(--dark-gray);
}

.right_header, .post_job_header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_link{
    margin: 0 20px;
    padding: 5px 0;
    font-size: 14px;
}

.header_link.active{
    color: var(--light-blue);
    border-bottom: 1px solid var(--light-blue);
}

.header_link:hover{
    color: var(--light-blue);
    border-bottom: 1px solid var(--light-blue);
}

.login_btn{
    background: var(--gradient-blue);
    padding: 10px 40px;
    color: white;
    cursor: pointer;
    border: 1px solid white;
    margin-left: 25px;
    font-size: 14px;
}

.login_btn:hover{
    background: transparent;
    color: var(--light-blue);
    border: 1px solid var(--light-blue);
}


.post_job_header_btn{
    background: transparent;
    border-radius: 30px;
    border: 1px solid var(--light-gray);
    padding: .8rem 2rem;
    margin: 0 20px;
    color: var(--light-gray);
}

.post_job_header_btn:hover{
    border: 1px solid var(--light-blue);
    cursor: pointer;
    background: var(--light-blue);
    color: white;
}

.avatar_header{
    width: 50px;
    height: 50px;
    background-color: var(--light-blue);
    border-radius: 50%;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.mobilenav_toggle{
    display: none;
}

@media (max-width: 768px) {
    .nav{
        display: none;
    }
    .mobilenav_toggle{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        font-size: 22px;
    }
    .mobile_nav{
        height: 350px;
    }
}

@media (max-width: 498px) {
    
}