@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap');
:root{
  --light-blue: #62CEE5;
  --dark-blue: #1100FF;
  --gradient-blue: linear-gradient(90deg, #1100FF 0%, #00d4ff 100%);
  --light-gray: #343434;
  --dark-gray: #2D2D2D;
  --star-rating: #FFC911;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Titillium Web', sans-serif;
  line-height: 1.6rem;
}

html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.container{
  width: 90%;
  margin: auto;
  overflow: hidden;
}

a{
  text-decoration: none;
  color: var(--light-gray);
  transition: all .3s ease-in-out;
}

button{
  border: none;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.border_separator{
  background: #e6e6e6;
  height: 1px;
  margin: 20px 0;
}